.nav-item-texts{
    font-family: 'Concert One', cursive;
    font-size: 135%;
}
.navbar-button:hover{
    background-color: #8294C4;
}
.nav-item a:hover{
    color: #8294C4;
}
a{
    text-decoration: none !important;
}
hr{
    border-width: 3px !important;
}
body, html {
    height: 100%;
}
.hr-elements{
    width: 90%;
    color: white !important;
    word-wrap: break-word;
}
.information-image {
    height: 100%;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    background-image: url("background.png") !important;
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover; 
}
.information-text{
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: 70%;
    padding: 20px;
    text-align: center;
}
.first-half{
    position: absolute;
    width: 50%;
    height: 90%;
}
.second-half{
    float: right;
    width: 50%;
    height: 90%;
    margin: 3%;
}
.user-tag{
    float: left;
    margin-left:5%;
    margin-top: 10%;
    font-size: 90%;
}
.user-tag2{
    clear: both;
    padding-top: 10%;
    margin-right: 5%;
    float: left;
    word-wrap: break-word;
}
.social-media-icons{
    font-size: 170%;
    float: left;
    padding-top: 20%;
}
.card-img-top {
    position: relative;
    transition: transform 0.3s ease;
    z-index: 2 !important;
  }
.card-body {
    position: relative;
    bottom: 0;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    transition: transform 0.7s ease;
    transform: translateY(-100%);
    z-index: 1 !important;
}
.card-img-top:hover {
    transform: translateY(-20%);
  }
  
.card-img-top:hover + .card-body {
    transform: translateY(0);
  }
  


