<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="icon" type="image/portfolio-icon" href="/Portfolio-Website/images/portfolio-icon.ico?=v2"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body style="background-color: #ECF8F9;">
    <nav class="navbar navbar-expand-lg" style="background-color: #8BACAA;">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-texts">
                <a class="nav-link" href="/Portfolio-Website/index.html">Home</a>
              </li>
              <li class="nav-item nav-item-texts">
                <a class="nav-link " href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" style="margin-top:40px; margin-left: 10px; margin-right: 10px;">
        <div class="col">
          <div class="card g-0 border-0" style="background-color: #ECF8F9;" >
            <img src="/Portfolio-Website/images/circuits.png" class="card-img-top" alt="circuit-img">
            <div class="card-body" style="margin: 5px; background-color: #ECF8F9;">
              <div id="slide-down">
                <h5 class="card-title">Audio Transmission Via Fiber Optic Cable</h5>
                <p class="card-text">A circuit designed with transistors, diodes, and LM386N for transmitting sound using infrared light through a fiber optic cable.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card g-0 border-0" style="background-color: #ECF8F9">
            <a href="https://github.com/akaomerr/Morse-Code-Translator" class="card-img-top" target="_blank"><img src="/Portfolio-Website/images/morse-code.png" class="card-img-top" alt="morse-img"></a>
            <div class="card-body" style="margin: 5px; background-color: #ECF8F9">
              <div id="slide-down">
                <h5 class="card-title">Morse Code Converter</h5>
                <p class="card-text">A morse code converter written with Python. Audibly converts the entered sentence into morse code.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card g-0 border-0" style="background-color: #ECF8F9">
            <a href="https://github.com/akaomerr/Book-Movie-Rater" class="card-img-top" target="_blank"><img src="/Portfolio-Website/images/book-movie.png" class="card-img-top" alt="book-movie-img"></a>
            <div class="card-body" style="margin: 5px; background-color: #ECF8F9">
              <div id="slide-down">
                <h5 class="card-title">Book and Movie Rater</h5>
                <p class="card-text">A website where users can review books and movies.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card g-0 border-0" style="background-color: #ECF8F9">
            <a class="card-img-top" href="https://github.com/akaomerr/Typing-Test-Project" target="_blank"><img src="/Portfolio-Website/images/ss1.png" class="card-img-top" alt="typingtest-img"></a>
            <div class="card-body" style="margin: 5px; background-color: #ECF8F9">
              <div id="slide-down">
                <h5 class="card-title">Typing Speed Test App</h5>
                <p class="card-text">Typing speed test app with Python Tkinter Library</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card g-0 border-0" style="background-color: #ECF8F9">
            <a class="card-img-top" href="https://github.com/akaomerr/cafewebsite" target="_blank"><img src="/Portfolio-Website/images/cafewebsite.png" class="card-img-top" alt="typingtest-img"></a>
            <div class="card-body" style="margin: 5px; background-color: #ECF8F9">
              <div id="slide-down">
                <h5 class="card-title">Cafe Website</h5>
                <p class="card-text">A website that dynamically stores CSV data on GitHub and displays cafe locations, rating scores, and information.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card g-0 border-0" style="background-color: #ECF8F9">
            <a class="card-img-top" href="https://github.com/akaomerr/todolist" target="_blank"><img src="/Portfolio-Website/images/todolist.png" class="card-img-top" alt="typingtest-img"></a>
            <div class="card-body" style="margin: 5px; background-color: #ECF8F9">
              <div id="slide-down">
                <h5 class="card-title">To Do List</h5>
                <p class="card-text">A website that stores and manages a to-do list entered by the user with their username, keeping them in the website's memory.</p>
              </div>
            </div>
          </div>
        </div>
</body>
</html>