<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watermark Project</title>
    <link rel="icon" type="image/code-icon" href="/Portfolio-Website/images/code-icon.ico?=v2"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-python.min.js"></script>
</head>
</head>
<body style="background-color: #DBDFEA;"> 
    <nav class="navbar navbar-expand-lg" style="background-color: #9ED2C6;">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-texts">
                <a class="nav-link" href="/Portfolio-Website/index.html">Home</a>
              </li>
              <li class="nav-item nav-item-texts">
                <a class="nav-link" href="portfolio.html">Portfolio</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="morse-frame">
        <h1 style="text-align: center; font-size: 2.7rem;"> Watermark Desktop App</h1>
        <div class="morse-img">
            <img src="/Portfolio-Website/images/watermark.png" alt="watermark-img" style="width: 20%;">
        </div>
        <div class="text-frame">
            <p>
              I have developed an application that allows us to add watermarks to the images uploaded to the application. In this application, we can choose the font size, color, position of the watercolor.
              Finally, we can save the image in the desired format and name. I used Python's Pillow and Tkinter libraries.
            </p>
            <img class="bm-class" src="/Portfolio-Website/images/watermark1.png" alt="watermark1-img">
            <img class="bm-class" src="/Portfolio-Website/images/watermark2.png" alt="watermark2-img">
            <img class="bm-class" src="/Portfolio-Website/images/watermark3.png" alt="watermark3-img">
            <img class="bm-class" src="/Portfolio-Website/images/watermark4.png" alt="watermark4-img">
        </div>
        <h3 style="margin-bottom: 30px;">The code I wrote for this project:</h3>
        <pre style="border-radius: 30px;">
            <code class="language-python">
from tkinter import *
from tkinter import filedialog
from tkinter import ttk
from PIL import Image, ImageDraw, ImageFont, ImageTk
                
root = Tk()
root.title("Image Watermarking App")
root.geometry("1350x700")
frame = ttk.Frame(root, padding=50)
frame.grid()
empty_frame = Frame(root, width=1000, height=650)
empty_frame.grid(column=0, row=0, columnspan=10, rowspan=10)
                
raw_img = None
resized_img = None
watermark_photo = None
                
def resizer_func(img, hor, ver):
    img_resize = Image.open(img)
    resized_img = img_resize.resize((hor, ver))
    return resized_img
                
def watermark_func():
    global watermark_photo
    if watermark_photo is not None:
        text_color = text_color_entry.get()
        font_x = int(font_x_entry.get())
        font_y = int(font_y_entry.get())
        font_size = int(font_size_entry.get())
        watermark_text = watermark_text_entry.get()
        font = ImageFont.truetype("arial.ttf", font_size)
        watermark_position = (font_x, font_y)
        draw = ImageDraw.Draw(watermark_photo)
        draw.text(watermark_position, watermark_text, fill=text_color, font=font)
        watermark_img=ImageTk.PhotoImage(watermark_photo)
        loaded_watermarked_label=Label(root, image=watermark_img)
        loaded_watermarked_label.image=watermark_img
        loaded_watermarked_label.grid(column=0, row=0, columnspan=10, rowspan=10)
                
                
                
def load_image():
    global raw_img, resized_img, watermark_photo, loaded_photo
    file_path = filedialog.askopenfilename(filetypes=[("Image Files", "*.png;*.jpg;*.jpeg")])
    if file_path:
        global raw_img_width, raw_img_height
        raw_img = Image.open(file_path)
        raw_img_width=int(raw_img.size[0])
        raw_img_height=int(raw_img.size[1])
        resized_img = resizer_func(file_path, 1000, 650)
        watermark_photo = resized_img.copy()
        global loaded_image_label
        loaded_photo = ImageTk.PhotoImage(resized_img)
        loaded_image_label = Label(root, image=loaded_photo)
        loaded_image_label.image = loaded_photo
        loaded_image_label.grid(column=0, row=0, columnspan=10, rowspan=10)
                
def save_image():
    global watermark_photo
    if watermark_photo is not None:
        save_path = filedialog.asksaveasfilename(defaultextension=".png", filetypes=[("PNG", "*.png"), ("JPEG", "*.jpg")])
        if save_path:
            watermark_photo_resize=watermark_photo.resize((raw_img_width, raw_img_height))
            watermark_photo_resize.save(save_path)
            print("Image saved successfully.")
                
                
def delete_watermark_func():
    global watermark_photo
    loaded_image_label=Label(root, image=loaded_photo)
    loaded_image_label.image=loaded_photo
    loaded_image_label.grid(row=0, column=0, rowspan=10, columnspan=10)
colors = {
    "Red": "#FF0000",
    "Green": "#00FF00",
    "Blue": "#0000FF",
    "Yellow": "#FFFF00",
    "Orange": "#FFA500",
    "Purple": "#800080",
    "Pink": "#FFC0CB",
    "Brown": "#A52A2A",
    "Turquoise": "#40E0D0",
    "Gold": "#FFD700",
    "Lime": "#00FF00",
    "Indigo": "#4B0082",
    "Teal": "#008080",
    "Olive": "#808000",
    "Maroon": "#800000",
    "Navy": "#000080",
    "Silver": "#C0C0C0",
    "Gray": "#808080",
    "Crimson": "#DC143C",
    "Violet": "#EE82EE",
    "Cyan": "#00FFFF",
    "Magenta": "#FF00FF",
    "SlateBlue": "#6A5ACD",
    "SandyBrown": "#F4A460",
    "HotPink": "#FF69B4",
    "DarkGreen": "#006400",
    "CornflowerBlue": "#6495ED",
    "Chocolate": "#D2691E"
    }
                
                
save_button = Button(root, text="Save Settings", command=save_image)
save_button.grid(row=10, column=4, pady=10, padx=5)
                
add_button = Button(root, text="Add Image", command=load_image)
add_button.grid(row=10, column=5, pady=10, padx=5)
                
color_label=Label(root, text="Choose the color of watermark:")
color_label.grid(row=0, column=10)
text_color_entry = ttk.Combobox(root, values=list(colors.keys()))
text_color_entry.grid(row=0, column=11)
                
font_x_label=Label(root, text="Set the x-position of the watermark:")
font_x_label.grid(row=1, column=10)
font_x_entry = Entry(root)
font_x_entry.grid(row=1, column=11)
                
font_y_label=Label(root, text="Set the y-position of the watermark:")
font_y_label.grid(row=2, column=10)
font_y_entry = Entry(root)
font_y_entry.grid(row=2, column=11)
                
font_size_label=Label(root, text="Set the font size of the watermark:")
font_size_label.grid(row=3, column=10)
font_size_entry = Entry(root)
font_size_entry.grid(row=3, column=11)
                
watermark_text_label=Label(root, text="Enter the text what you want:")
watermark_text_label.grid(row=4, column=10)
watermark_text_entry = Entry(root)
watermark_text_entry.grid(row=4, column=11)
                
watermark_button = Button(root, text="Add Watermark", command=watermark_func)
watermark_button.grid(row=6, column=10)
                
delete_watermark_button=Button(root, text="Delete Watermarks", command=delete_watermark_func)
delete_watermark_button.grid(row=6, column=11)
                
                
root.mainloop()
                
            </code>
        </pre>
        <script>
            Prism.highlightAll();
        </script>
      </div>
</body>
</html>